%html
  %head
    = stylesheet_link_tag    'tramway/admin/application', media: "all"
    = javascript_include_tag 'tramway/admin/application'
  %title
    = yield :title
  %body{ style: 'display: flex; flex-direction: column; justify-content: space-between; min-height: 100%' }
    %nav.navbar.navbar-expand-md.navbar-dark.bg-dark
      = link_to 'Benchkiller', '/', class: 'navbar-brand'
      %button.navbar-toggler.collapsed{ aria: { controls: :navbar, expanded: "false", label: 'Toggle Navigation' }, data: { target: "#navbar", toggle: :collapse }, type: :button }
        %span.navbar-toggler-icon
      .navbar-collapse.collapse#navbar
        %ul.navbar-nav
    %main.container
      = yield
    %footer{ style: 'padding-bottom: 1rem' }
      .container
        = copyright '2021', 'Benchkiller'
