%link{ crossorigin: "anonymous", href: "https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css", integrity: "sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT", rel: "stylesheet"}

:sass
  $default_vertical_margin: 150px
  $default_horizontal_margin: 200px

  @font-face
    font-family: exo
    src: url(/Exo-Bold.otf)

  *
    position: absolute

  img.background-image
    position: fixed  
    z-index: -1
    width: 1920px
    height: 1080px

  .preview
    width: 1920px
    height: 1080px

    span, h1
      color: white

    h1
      font-family: exo

    .name
      top: $default_vertical_margin
      left: $default_horizontal_margin
      
      h1
        position: relative
        font-size: 150px

    .avatar
      top: $default_vertical_margin
      left: 1300px
      img
        border-radius: 50px

    .features
      top: calc(200px * 3.5)
      left: $default_horizontal_margin

      font-size: 40px

      .icon
        font-size: 60px

      .text
        top: 90px
        line-height: 3rem

      .since, .episodes, .events, .elite_karma, .karma
        text-align: center

      .elite_karma
        .icon, .text
          width: 230px

      .since
        left: 1280px

        span.icon
          width: 215px

        .text
          width: 215px

      .karma
        left: calc(100px + 240px)

        .icon
          width: 230px

        .text
          width: 230px

      .episodes
        width: 250px
        left: calc(100px + 150px + 300px)

      .events
        width: 250px
        left: 870px

        .icon
          width: 160px

= image_tag '/person-twitter-preview-background.png', class: 'background-image'
.preview
  .name
    %h1
      = @person.first_name
    %h1
      = @person.last_name

  .avatar
    = image_tag @person.model.avatar.medium.url

  .features
    %p.elite_karma
      %span.icon
        ⭐
        = @person.elite_karma[:points]
      %span.text
        = t('.elite_karma')
    %p.karma
      %span.icon
        🌴
        = @person.karma[:points]
      %span.text
        = t('.karma')
    %p.episodes
      %span.icon
        🎙️
        = @person.episodes.count
      %span.text
        = @person.entities_count(:episodes)
    %p.events
      %span.icon
        🗓️
        = @person.participations_count
      %span.text
        = @person.entities_count(:participations)
    %p.since
      %span.icon
        ⌛
      %span.text
        = t('.at_it_way')
        %br
        = t('.since', year: @person.joined_at)
