= stylesheet_link_tag 'gorodsad73'
= stylesheet_pack_tag 'gorodsad73/application'
= javascript_pack_tag 'src/gorodsad73/application'
= render 'layouts/tramway/landing/navbar'
%section.gorodsad73
  .box
    %h2{ 'data-jarallax-element' => '0 -200' }
      Газоны
    .container
      .img_bx.jarallax
        %img{ src: 'system/gorodsad73/gazon.jpeg', class: 'jarallax-img' }
      .content{ 'data-jarallax-element' => '-200 0' }
        %p
          Рулонный газон это посевной газон, выращенный за 3-4 года на специальном поле, за это время он достигает степени окончательного формирования дёрна. Для производства газонного дёрна используют многолетние, медленно развивающиеся травы именно они дают плотное переплетение корневищ, позволяющее срезать тоненький коврик и свернуть его в рулон специальным трактором.
        = link_to 'Заказать', 'tel:+79370388344'
%section.gorodsad73
  .box
    %h2{ 'data-jarallax-element' => '0 200' }
      Проектирование
    .container
      .img_bx.jarallax
        %img{ src: 'system/gorodsad73/project.jpeg', class: 'jarallax-img' }
      .content{ 'data-jarallax-element' => '-200 0' }
        %p Весь сезон 2020, скетч - проект бесплатно! При заказе комплекса ландшафтных работ, сумма графического дизайн - проекта (5000₽) вычетается из стоимости работ. В скетч-проект входит: графическое изображение локации с трёх сторон, план - схема, пояснительная записка, предварительная смета. Окончательная смета утверждается после всех доработок проекта.
        = link_to 'Заказать', 'tel:+79370388344'
%section.gorodsad73
  .box
    %h2{ 'data-jarallax-element' => '0 -200' }
      Ландшафтное освещение
    .container
      .img_bx.jarallax
        %img{ src: 'system/gorodsad73/light.jpg', class: 'jarallax-img' }
      .content{ 'data-jarallax-element' => '-200 0' }
        %p
          Качественное освещение саду может обеспечить только система из грамотно сгруппированных и правильно направленных осветительных элементов. Им придется одновременно выполнять как основную задачу по освещению территории, так и украшать её пространство своим свечением. Схему расстановки осветительных элементов, как правило, составляют на финишном этапе разработки ландшафтного дизайна. Представляющие ландшафтное освещение светильники должны акцентировать внимание на самых удачных локациях, обозначать приватные зоны и представлять парадные. Затем определяются с адекватностью точек размещения освещающих приборов. Обязательному подсвечиванию подлежат все имеющиеся на участке препятствия, будь они естественными или искусственно созданными. Прежде всего, обустраивается освещение водоёмов в ландшафтном дизайне.
        = link_to 'Заказать', 'tel:+79370388344'
