.row
  .col-md-6
    - case params[:flash]
    - when 'you_need_to_generate_password'
      .alert.alert-warning
        %span
          Вам нужно сгенерировать пароль. Перейдите в нашего
          = link_to 'бота', 'https://t.me/benchkiller_test_bot'
          и воспользуйтесь функцией "Создать пароль"
    - when 'wrong_username_or_password'
      .alert.alert-danger
        %span
          Неверный логин или пароль
    = simple_form_for @session_form.model, url: '/benchkiller/web/sessions', method: :post, html: { class: 'form-horizontal' } do |f|
      = f.input :username, as: :string
      = f.input :password
      = f.button :submit, t('helpers.links.enter'), class: 'btn btn-success'

    .alert.alert-primary
      %span
        Впервые у нас? Перейдите в нашего 
        = link_to 'бота', 'https://t.me/benchkiller_test_bot', target: '_blank'
        и сгенерируйте себе пароль.
