= content_for :title do
  - "Purple Magic"
  
= content_for :application_name do
  - "Purple Magic"

= stylesheet_link_tag 'purple_magic/web/welcome'
%section
  .box
    .square{ style: "--i:0;" }
    .square{ style: "--i:1;" }
    .square{ style: "--i:2;" }
    .square{ style: "--i:3;" }
    .square{ style: "--i:4;" }
    .container
      .text
        %h1
          Purple Magic
        Здесь когда-нибудь будет наш сайт, а пока напиши нашему боту
        %br
        %p
          = link_to 'https://t.me/purple_magic_bot' do
            = image_tag 'https://cdn.jsdelivr.net/npm/simple-icons@3.13.0/icons/telegram.svg', class: 'telegram'
