%title
  = @person.title

= javascript_pack_tag 'application'

%link{ crossorigin: "anonymous", href: "https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css", integrity: "sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT", rel: "stylesheet"}
%script{ src: "https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js", integrity: "sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3", crossorigin: "anonymous" }
%script{ src: "https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js", integrity: "sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk", crossorigin: "anonymous" }
%meta{ name: "viewport", content: "width=device-width", 'initial-scale' => "1" }

:sass
  $accordion-padding-y: 0.5rem
  $accordion-padding-x: 0.5rem

  body
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: center

  .person-container
    display: flex
    flex-direction: row

    .avatar
      width: 100%

    .info
      display: flex
      flex-direction: column

    .stat
      display: flex
      flex-direction: column

  #karma
    .karmaTable
      font-size: 0.8rem

    $podcast_color: #6B5B95 
    $offline_conf_color: #009B77 
    $forum_color: #34568B 

    .badge
      color: white  !important

      &.podcast
        background-color: $podcast_color !important

      &.offline_conf
        background-color: $offline_conf_color !important

      &.forum
        background-color: $forum_color !important

    .table
      tr
        &.podcast, &.offline_conf, &.forum
          color: white

        &.podcast
          background-color: $podcast_color !important

        &.offline_conf
          background-color: $offline_conf_color !important

        &.forum
          background-color: $forum_color !important

  .accordion
    .accordion-header
      button
        font-weight: bold

        &.gold
          background-color: hsla(45, 100%, 47%, 1)
          color: white

          &::after
            filter: brightness(0) invert(1)

  .card
    padding-left: 0
  
.container
  - links = { home: '/', it_way_history: 'https://t.me/it_way_history', twitter: 'https://twitter.com/it_way_pro', telegram: 'https://t.me/it_way_chat', youtube: 'https://youtube.com/c/itway', instagram: 'https://www.instagram.com/it_way.pro/', facebook: 'https://www.facebook.com/itwayproject' }
  = render 'it_way/people/navbar', links: links
  .person-container
    .row
      .col-lg-4.col-md-6.col-sm-12.col-xs-12
        = image_tag @person.avatar.medium.url, class: :avatar
        %h3.mt-2
          = @person.title
        #karma.accordion.mt-4.mb-4
          .accordion-item
            %h2#elite_karmaTable.accordion-header
              %button.accordion-button.gold{"aria-controls" => "elite_karmaTableView", "aria-expanded" => "false", "data-bs-target" => "#elite_karmaTableView", "data-bs-toggle" => "collapse", type: "button"}
                = t('.elite_karma', points: @person.elite_karma[:points] )
            #elite_karmaTableView.accordion-collapse.collapse.show{"aria-labelledby" => "elite_karmaTable", "data-bs-parent" => "#karma"}
              .accordion-body
                - badges = [ :podcast, :forum, :offline_conf ]
                - badges.each do |type|
                  .badge{ class: type }
                    = t("it_way.people.show.badges.#{type}")
                %table.karmaTable.table.mt-2
                  %thead
                    %th
                      Событие
                    %th
                      Роль
                    %th
                      Очки
                  - @person.elite_karma[:data].each do |row|
                    %tr{ class: row[:type] }
                      %td
                        = row[:title]
                      %td
                        = row[:role]
                      %td
                        = row[:points]
          .accordion-item
            %h2#pointsTable.accordion-header
              %button.accordion-button{"aria-controls" => "pointsTableView", "aria-expanded" => "false", "data-bs-target" => "#pointsTableView", "data-bs-toggle" => "collapse", type: "button"}
                = t('.karma', points: @person.karma[:points] )
            #pointsTableView.accordion-collapse.collapse.show{"aria-labelledby" => "pointsTable", "data-bs-parent" => "#karma"}
              .accordion-body
                %table.karmaTable.table.mt-2
                  %thead
                    %th
                      Событие
                    %th
                      Роль
                    %th
                      Очки
                  - @person.karma[:data].each do |row|
                    %tr
                      %td
                        = row[:title]
                      %td
                        = row[:points]
      .col-lg-8.col-md-6.col-sm-12.col-xs-12
        - if @person.participations.any?
          .row
            .col-xs-12
              %h2.mb-4
                Доклады
          .row
            - @person.participations.each do |participation|
              .col-lg-4.col-md-12.col-sm-12.col-xs-12.mb-2
                .card
                  - if participation.content.is_a? ItWay::Content
                    %img.card-img-top{ src: participation.content.preview }
                  - else
                    %img.card-img-top{ src: participation.content.model.photo.url }
                  .card-body
                    %h5.card-title
                      = participation.content.title
                    %p.card-text
                      = participation.role.text
                  .card-footer
                    - if participation.content.is_a? ItWay::Content
                      %a.btn.btn-primary{ href: participation.content.url } Look at
                    - else
                      %a.btn.btn-primary{ href: Tramway::Event::Engine.routes.url_helpers.event_path(participation.content.event.id) } Look at
        - if @person.episodes.any?
          .row
            .col
              %h2.mt-4
                Выпуски подкаста
          .row
            - @person.episodes.each do |episode|
              .col-md-12.col-lg-4.mb-2
                .card
                  %img.card-img-top{ src: episode[:image_url] }
                  .card-body
                    %h5.card-title
                      = episode[:public_title]
                  .card-footer
                    .dropdown
                      %button.btn.btn-primary.dropdown-toggle{ type: :button, data: { 'bs-toggle' => :dropdown }, aria: { expanded: false } }
                        Где послушать?
                      %ul.dropdown-menu
                        - episode[:links]&.each do |link|
                          %li
                            %a.dropdown-item{ href: link[:link], target: '_blank' }
                              = link[:service]

  = render 'it_way/people/footer', links: links
