= stylesheet_link_tag 'red_magic/web/welcome'

%section
  .box.left
    %video{ src: 'system/left.mp4', autoplay: true, loop: true, muted: true }
    .content
      %h2 Видео всегда должно быть красивым!
  .box.center
    %video{ src: 'system/center.mp4', autoplay: true, loop: true, muted: true }
    .content
      %h2 Видео смотрят все!
  .box.right
    %video{ src: 'system/right.mp4', autoplay: true, loop: true, muted: true }
    .content
      %h2 Мы делаем красивые видео и прямые эфиры!
.link-panel
  .links
    = link_to 'https://vk.com/redmagicprod', target: '_blank', class: :vk do
      = image_tag 'https://cdn.jsdelivr.net/npm/simple-icons@v3/icons/vk.svg'
    = link_to 'https://instagram.com/redmagicprod', target: '_blank', class: :instagram do
      = image_tag 'https://cdn.jsdelivr.net/npm/simple-icons@v3/icons/instagram.svg'
:javascript
  let box = document.querySelectorAll('.box');
  box.forEach(popup => popup.addEventListener('click', () => {
    popup.classList.toggle('active')
  }))
