%title
  Павел Калашников

%link{ crossorigin: "anonymous", href: "https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css", integrity: "sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT", rel: "stylesheet"}

%nav.navbar.navbar-expand-lg.navbar-purple.navbar-dark{ style: 'background-color: #4B0082' }
  .container-fluid
    %a.navbar-brand{href: "#"} Павел Калашников
    %button.navbar-toggler{ aria: { controls: :navbarSupportedContent, expanded: "false", label: "Toggle navigation" }, data: { 'bs-target': "#navbarSupportedContent", 'bs-toggle': "collapse" }, type: "button" }
      %span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      %ul.navbar-nav.me-auto.mb-2.mb-lg-0
        %li.nav-item
          %a.nav-link.active{ aria: { current: :page }, href: "#" } Дом

.container
  .row.row-cols-2.mt-4
    .col
      %h2
        Статьи
      .row
        - @links.each do |link|
          .col-md-12.mt-4
            .card
              %img.card-img-top{ src: link.image.url }
              .card-body
                %h5.card-title
                  = link.title
                %p.card-text
                  = link.lead
                = link_to 'Читать', link.url, class: 'btn btn-primary', target: '_blank'
    .col
      %h2
        Подкасты
      .row
        - @episodes.each do |episode|
          .col-md-4.col-sm-1.mt-4
            .card
              %img.card-img-top{ src: @podcast.default_image.url }
              .card-body
                %h6.card-title
                  = episode.public_title
                %p.card-text
                  Где послушать?
                - episode.instances.each do |instance|
                  = link_to instance.service.capitalize, episode.instances.first&.link, class: 'btn btn-primary', target: '_blank'
