%title
  Павел Калашников

%link{ crossorigin: "anonymous", href: "https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css", integrity: "sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT", rel: "stylesheet"}

%nav.navbar.navbar-expand-lg.bg-light
  .container-fluid
    %a.navbar-brand{href: "#"} Павел Калашников
    %button.navbar-toggler{ aria: { controls: :navbarSupportedContent, expanded: "false", label: "Toggle navigation" }, data: { 'bs-target': "#navbarSupportedContent", 'bs-toggle': "collapse" }, type: "button" }
      %span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      %ul.navbar-nav.me-auto.mb-2.mb-lg-0
        %li.nav-item
          %a.nav-link.active{ aria: { current: :page }, href: "#" } Дом

.container-fluid
  .row
    - @links.each do |link|
      - if link.is_a? Blogs::Link
        .col-md-3.mt-4
          .card
            %img.card-img-top{ src: link.image.url }
            .card-body
              %h5.card-title
                = link.title
              %p.card-text
                = link.lead
              = link_to 'Читать', link.url, class: 'btn btn-primary', target: '_blank'
      - if link.is_a? Podcast::Episode
        .col-md-3.mt-4
          .card
            %img.card-img-top{ src: @podcast.default_image.url }
            .card-body
              %h5.card-title
                = link.public_title
              %p.card-text
                Слушайте IT Way Podcast в представленных ниже сервисах
              - link.instances.each do |instance|
                = link_to instance.service.capitalize, link.instances.first&.link, class: 'btn btn-primary', target: '_blank'
