- model = Benchkiller::Delivery
%h3.mb-4{ style: 'display: flex; justify-content: space-between' }
  = "#{model.model_name.human} от #{DateTime.now.strftime('%d.%m.%Y')}"
  = link_to fa_icon('pencil-alt'), edit_benchkiller_web_delivery_path(@delivery.uuid), class: 'btn btn-warning btn-xs'

%table.table.table-striped.table-bordered
  %tr
    %td
      %b
        = model.human_attribute_name :whom
    %td
      = @delivery.receivers
  %tr
    %td
      %b
        = model.human_attribute_name :text_preview
    %td
      = @delivery.markdown_preview
