- offers_title
- model_class = ::Benchkiller::Offer
- current_path_method = :benchkiller_web_offers_path

- case params[:flash]
- when 'success_sign_in'
  .alert.alert-success.fade.show{ role: :alert }
    %span
      Авторизация прошла успешно
    %button.close{ data: { dismiss: :alert }, aria: { label: 'Close'} }
      %span{ aria: { hidden: true } }
        &times;
- when 'success_started_delivery'
  .alert.alert-success.fade.show{ role: :alert }
    %span
      Рассылка успешно запущена
    %button.close{ data: { dismiss: :alert }, aria: { label: 'Close'} }
      %span{ aria: { hidden: true } }
        &times;
%h1.mb-4{ style: 'display: flex; flex-direction: row; justify-content: space-between' }
  Проекты и команды
  = form_tag public_send(current_path_method), style: 'display: flex; flex-direction: row; justify-content: space-between', method: :get do |f|
    = text_field_tag :search, params[:search], class: 'text form-control'
    = hidden_field_tag :collection, params[:collection]
    = submit_tag 'Поиск', class: 'btn btn-primary mb-4'
= form_tag new_benchkiller_web_delivery_path, method: :get do |f|
  = submit_tag 'Сделать рассылку', class: 'btn btn-primary mb-4'
  %ul.nav.nav-tabs
    %li.nav-item
      = link_to 'Проекты', public_send(current_path_method, { collection: :lookfor }), class: "nav-link #{params[:collection].in?([ 'lookfor', nil ]) ? :active : ''}"
    %li.nav-item
      = link_to 'Команды', public_send(current_path_method, { collection: :available }), class: "nav-link #{params[:collection].in?([ 'available' ]) ? :active : ''}"
  %table.table.table-striped.table-bordered
    %thead
      %tr
        %th
        %th= model_class.human_attribute_name(:name)
        %th= model_class.human_attribute_name(:created_at)
    %tbody
      - @offers.each_with_index do |record, index|
        %tr
          %td
            = check_box_tag record.uuid, params[record.uuid]
          %td
            = record.text
          %td
            = record.created_at.strftime('%d.%m.%Y %H:%M')
  = paginate @offers, theme: 'twitter-bootstrap-4'
