- offers_title
- model_class = ::Benchkiller::Offer
- current_path_method = :benchkiller_web_offers_path
- content_for(:sidebar) do
  .search-panel{ style: 'overflow-y: hidden' }
    %h3.mb-4
      Поиск
    = form_tag public_send(current_path_method), method: :get do |f|
      .mb-3
        = label_tag 'Запрос'
        = text_field_tag :search, params[:search], class: 'text form-control'
      .mb-3
        = label_tag 'Регионы сотрудничества'
        = select_tag :regions, options_for_select([ 'Все регионы', "РФ", "РБ", "Украина"], params[:regions]), class: 'form-select form-control'
      .mb-3
        = label_tag 'Отправлено после'
        = text_field_tag :begin_date, params[:begin_date], class: 'text form-control datepicker'
      .mb-3
        = label_tag 'Отправлено до'
        = text_field_tag :end_date, params[:end_date], class: 'text form-control datepicker'
      = hidden_field_tag :collection, params[:collection]
      .mb-3
        = submit_tag 'Поиск', class: 'btn btn-primary mb-4'
        = link_to 'Сбросить', benchkiller_web_offers_path, class: 'btn btn-warning mb-4'
      :javascript
        $('.datepicker').datepicker({ language: 'ru' })
- case params[:flash]
- when 'success_sign_in'
  .alert.alert-success.fade.show{ role: :alert }
    %span
      Авторизация прошла успешно
    %button.close{ data: { dismiss: :alert }, aria: { label: 'Close'} }
      %span{ aria: { hidden: true } }
        &times;
- when 'success_started_delivery'
  .alert.alert-success.fade.show{ role: :alert }
    %span
      Рассылка успешно запущена
    %button.close{ data: { dismiss: :alert }, aria: { label: 'Close'} }
      %span{ aria: { hidden: true } }
        &times;
- when 'no_offer_checked'
  .alert.alert-warning.fade.show{ role: :alert }
    %span
      Вам нужно отметить предложения проектов или команд для создания рассылки
    %button.close{ data: { dismiss: :alert }, aria: { label: 'Close'} }
      %span{ aria: { hidden: true } }
        &times;
= form_tag new_benchkiller_web_delivery_path, method: :get do |f|
  %h1.mb-4{ style: 'display: flex; flex-direction: row; justify-content: space-between' }
    Проекты и команды
    = submit_tag 'Сделать рассылку', class: 'btn btn-primary mb-4'
  %ul.nav.nav-tabs
    %li.nav-item
      - on_lookfor_tab = params[:collection].to_s.in?([ 'lookfor' ])
      - lookfor_tab_name = on_lookfor_tab ? "Проекты (#{@full_offers_collection.count})" : 'Проекты'
      = link_to lookfor_tab_name, public_send(current_path_method, { collection: :lookfor }), class: "nav-link #{on_lookfor_tab ? :active : ''}"
    %li.nav-item
      - on_available_tab = params[:collection].in?([ 'available' ])
      - available_tab_name = on_available_tab ? "Команды (#{@full_offers_collection.count})" : 'Команды'
      = link_to available_tab_name, public_send(current_path_method, { collection: :available }), class: "nav-link #{on_available_tab ? :active : ''}"
  %table.table.table-striped.table-bordered
    %thead
      %tr
        %th
        %th= model_class.human_attribute_name(:name)
        %th= model_class.human_attribute_name(:created_at)
    %tbody
      - @offers.each_with_index do |record, index|
        %tr
          %td
            = check_box_tag record.uuid, params[record.uuid]
          %td
            = record.text
          %td
            = record.created_at.strftime('%d.%m.%Y %H:%M')
  = paginate @offers, theme: 'twitter-bootstrap-4'
