= stylesheet_link_tag 'benchkiller/react-datepicker'
= javascript_pack_tag 'application'
- offers_title
- model_class = ::Benchkiller::Offer
- current_path_method = :benchkiller_web_offers_path
- content_for(:sidebar) do
  .search-panel{ style: 'overflow-y: hidden' }
    %h3.mb-4
      Поиск
    = form_tag public_send(current_path_method), method: :get do |f|
      .mb-3
        = text_field_tag :search, params[:search], class: 'text form-control', placeholder: 'Введите текст для поиска'
      .mb-3
        = label_tag 'Регионы сотрудничества'
        = select_tag :regions, options_for_select(@regions, params[:regions] || 'Все регионы'), class: 'form-select form-control'
      = label_tag 'Период публикации'
      = react_component('BenchkillerPeriodForm', params: params)
      = hidden_field_tag :collection, params[:collection]
      .mb-3
        = submit_tag 'Поиск', class: 'btn btn-primary mb-4'
        = link_to 'Сбросить', benchkiller_web_offers_path, class: 'btn btn-warning mb-4'
      :javascript
        $('.datepicker').datepicker({ language: 'ru' })
- case params[:flash]
- when 'success_sign_in'
  .alert.alert-success.fade.show{ role: :alert }
    %span
      Авторизация прошла успешно
    %button.close{ data: { dismiss: :alert }, aria: { label: 'Close' } }
      %span{ aria: { hidden: true } }
        &times;
- when 'success_started_delivery'
  .alert.alert-success.fade.show{ role: :alert }
    %span
      Рассылка успешно запущена
    %button.close{ data: { dismiss: :alert }, aria: { label: 'Close' } }
      %span{ aria: { hidden: true } }
        &times;
- when 'no_offer_checked'
  .alert.alert-warning.fade.show{ role: :alert }
    %span
      Вам нужно отметить предложения проектов или команд для создания рассылки
    %button.close{ data: { dismiss: :alert }, aria: { label: 'Close'} }
      %span{ aria: { hidden: true } }
        &times;
%h1{ style: 'display: flex; flex-direction: row; justify-content: space-between' }
  Поиск по постам
  = react_component 'BenchkillerMakeDeliveryButton', path: new_benchkiller_web_delivery_path
%ul.nav.nav-tabs
  %li.nav-item
    - on_lookfor_tab = params[:collection].to_s.in?([ 'lookfor' ])
    - lookfor_tab_name = on_lookfor_tab ? "#{t('.lookfor')} (#{@full_offers_collection.count})" : t('.lookfor')
    = link_to lookfor_tab_name, public_send(current_path_method, { collection: :lookfor }), class: "nav-link #{on_lookfor_tab ? :active : ''}"
  %li.nav-item
    - on_available_tab = params[:collection].in?([ 'available' ])
    - available_tab_name = on_available_tab ? "#{t('.available')} (#{@full_offers_collection.count})" : t('.available')
    = link_to available_tab_name, public_send(current_path_method, { collection: :available }), class: "nav-link #{on_available_tab ? :active : ''}"
.card{ style: 'padding: 1rem' }
  %b
    = fa_icon 'info-circle'
    = @text
- if params[:regions].present? && params[:regions] != 'Все регионы'
  .card{ style: 'padding: 1rem' }
    %b
      = fa_icon 'exclamation'
      при использовании поиска по региону выводятся только посты пользователей с зарегистрированными в сервисе компаниями , если вы хотите чтобы отображались посты всех пользователей, то в строке региона сотрудничества выберите  "Все регионы"
%table.table.table-striped.table-bordered
  %thead
    %tr
      %th
      %th= model_class.human_attribute_name(:name)
      %th= model_class.human_attribute_name(:created_at)
  %tbody
    - @offers.each_with_index do |record, index|
      %tr
        %td
          = react_component 'BenchkillerCheckbox', uuid: record.uuid
        %td
          - if record.company.present? && record.company.title.present?
            %div{ style: 'display: flex; flex-direction: row; justify-content: space-between' }
              .media
                .mr-3
                  = fa_icon :building
                .media-body
                  %h5.mt-0
                    = record.company.title
                  %p
                    %span
                      На Benchkiller с
                      = " "
                      = record.created_at.in_time_zone('Moscow').strftime('%d.%m.%Y')
              = link_to 'Карточка компании', benchkiller_web_company_path(record.company.uuid), class: 'btn btn-primary'
            %hr
          = record.text
        %td
          = record.created_at.strftime('%d.%m.%Y %H:%M')
%div{ style: 'display: flex; justify-content: space-between' }
  = paginate @offers, theme: 'twitter-bootstrap-4'
  = react_component 'BenchkillerMakeDeliveryButton', path: new_benchkiller_web_delivery_path
