= content_for :title do
  Запись подкаста
= javascript_pack_tag 'application'
= stylesheet_link_tag 'red_magic/podcasts/highlights'
= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.5/css/mdb.min.css'
= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.5/js/mdb.js'
.container
  .row
    .col
      .stopwatch
        %h1
          %span.gold Podcast
          Хайлайты
        .circle
          %span#display.time 00:00:00
        .controls
          %button.buttonPlay.btn.btn-warning
            %span#playButton
              Начать
            %span#pauseButton
              Пауза
          %button#buttonSave.btn.btn-warning
            Запомнить
          %input{ type: :hidden, id: :episodeId }
    .col
      = react_component("Highlight", { greeting: "Hello from react-rails." })
