= javascript_pack_tag 'application'
= stylesheet_link_tag 'red_magic/web/stream'

%header
  = image_tag '/system/red_magic/stream/header.jpg', class: 'banner'
  = link_to 'RED MAGIC', '#', class: 'logo'
  - links = [ { url: '#', text: 'Съёмка видео' }, { url: '#', text: 'Анимация' }, { url: '#', text: 'Подкасты' }, { url: '#', text: 'Наши проекты' }, { url: '#', text: 'Команда' } ]
  = react_component('red_magic/Navbar', { links: links })

%section
  %h2
    Header huider
  %p
    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."

:javascript
  window.addEventListener('scroll', function() {
    const header = document.querySelector('header');
    header.classList.toggle('sticky', window.scrollY > 0);
  });
