= javascript_pack_tag 'application'
= stylesheet_link_tag 'red_magic/web/stream'

%header
  = image_tag '/system/red_magic/stream/header.jpg', class: 'banner'
  = link_to 'Прямые эфиры', '#', class: 'logo'
  - links = [ { url: '#', text: 'Съёмка видео' }, { url: '#', text: 'Анимация' }, { url: '#', text: 'Подкасты' }, { url: '#', text: 'Наши проекты' }, { url: '#', text: 'Команда' } ]
  = react_component('red_magic/Navbar', { links: links })
  .bottom-area
    = link_to '⬇', '#', class: 'arrow-down'

%section.text-left.first
  .text
    %h2
      Мы любим делать прямые эфиры
    %p
      В 2020-х прямые эфиры станут самым популярным способом доставлять информацию до конечного пользователя. Пользователи могут смотреть прямые эфиры в каждом приложении. Благодаря пандемии огромное количество бизнесов и команд переделали свой контент, чтобы его легче можно было подавать в формате прямого эфира.
  = image_tag '/system/red_magic/stream/1.jpg'

%section.text-right
  .text
    %h2
      Ориентир на самый качественный и популярный контент
    %p
      В своей работе мы достигаем качества контента от самых известных и популярных брендов, которые производят видеоконтент. Для обеспечения такого высокого качества мы уделяем огромное время подготовке и продакшену видеоконтента
  = image_tag '/system/red_magic/stream/2.jpg'

%section.text-left
  .text
    %h2
      Автоматизация
    %p
      Наша задача сделать услугу онлайн-трансляций более доступной для бизнеса. Поэтому мы ищем способы автоматизации процессов для удешевления услуг. Мы переносим технологические моменты из плоскости технического оснащения в плоскость использования профессиональных навыков наших сотрудников.
  = image_tag '/system/red_magic/stream/3.png'

%section.text-right
  .text
    %h2
      Плотная работа с заказчиками
    %p
      Мы помогаем нашим заказчикам готовится к прямым эфирам для того, чтобы техническая команда и "герои" эфира работали совместно, и каждый участник процесса знал свои задачи и выполнял их качественно.
  = image_tag '/system/red_magic/stream/4.jpg'

%section.text-left{ style: 'justify-content: space-between' }
  .text
    %h2
      Наш процесс
  = render 'shared/timeline', events: red_magic_timeline

%section.text-left
  .text
    %h2
      Red Magic - это многопрофильная команда
    %p
      На каждом прямом эфире в команде обязательно присутствуют специалисты в следующих отраслях.
      %ul
        %li видеограф для организации качественного изображения
        %li звукорежиссёр для организации качественного звука
        %li ИТ-специалист для настройки серверной инфраструктуры в случае проблем с сетевым оборудованием
        %li опытный ведущий - запасной игрок, который поможет прямому эфиру продолжится вне зависимости от ситуации
      Каждый из перечисленных специалистов обладает многими годами опыта в своей специализации. Параллельно каждый из них может заменить другого члена команды в непредвиденной ситуации
  = image_tag '/system/red_magic/stream/4.jpg'

%section.text-right
  .text
    %h2
      Мы не снимаем свадьбы, зато...
    %p
      Red Magic делает трансляции в абсолютно разных отраслях: здравоохранение, спортивные мероприятия, качественные Zoom-конференции, ИТ-мероприятия, концерты, мастер-классы и многое другое.
  = image_tag '/system/red_magic/stream/4.jpg'

:javascript
  window.addEventListener('scroll', function() {
    const header = document.querySelector('header');
    header.classList.toggle('sticky', window.scrollY > 0);
  });
